/* Style the header */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}



.img {
  width: 200px;
  padding: 20px;
  height: 200px;
}